.footer {
  height: 50px;
  background-color: black;
  margin: 0;
  display: grid;
  align-items: center;
  justify-items: center;
}

.footer p {
  color: white;
}

.footer p a {
  color: white;
  margin: 0;
  font-weight: 900;
}
