.fondo {
  height: 100vh;
  width: 100%;
  display: grid;
  justify-items: center;
  background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      at 52% 78%,
      hsla(183, 90%, 79%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 32%, hsla(323, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 19%, hsla(264, 100%, 77%, 1) 0px, transparent 50%);
}
.container {
  margin-top: 100px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 250px 1fr;
}

.links {
  width: 600px;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  display: grid;
  justify-items: center;
  align-self: start;
}

.link__add {
  width: 90%;
  background-color: rgb(101, 136, 134);
  border-radius: 15px;
  padding: 10px;
  display: grid;
  grid-gap: 5px;
}
.link__add button {
  border: none;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}

.link__contain {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 5px 10px 5px 15px;
}

.link__contain p {
  margin: 0;
  font-size: 11px;
  color: rgb(114, 114, 114);
}

.link__contain input {
  border: none;
  outline: none;
  width: 100%;
}

.container__links__publicos {
  width: 100%;
  margin-top: 25px;
}

.item__link {
  margin-top: 10px;
  height: 40px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.411);
  border-radius: 15px;
  display: grid;
  align-items: center;
  justify-items: center;
  color: black;
  position: relative;
  font-weight: 900;
  transition-duration: 0.3s;
}
.item__link:hover {
  background-color: rgb(238, 238, 238);
}

.move__icon {
  color: rgba(0, 0, 0, 0.438);
  font-size: 18px;
  position: absolute;
  justify-self: start;
  margin-left: 15px;
  display: grid;
  align-items: center;
  cursor: grab;
}

.item__a {
  height: 100%;
  width: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.item__link p {
  margin: 0;
}

.item__delete {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.agregar__container {
  height: 40px;
  background-color: rgb(74, 7, 182);
  width: 80%;
  border-radius: 15px;
  display: grid;
  align-items: center;
}

.agregar__container:hover {
  background-color: rgb(49, 4, 121);
}

.agregar__link {
  margin: 0;
  color: white;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 900px) {
  .container {
    width: 95%;
    margin-top: 100px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 250px 1fr;
  }
  .links {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    display: grid;
    justify-items: center;
    align-self: start;
  }
}
