.container {
  align-self: center;
  display: grid;
  align-items: center;
  justify-items: center;
}
.img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: black;
}

.p {
  text-align: center;
  font-weight: 900;
}
